.background {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1519356162333-4d49ceade668");
  background-size: cover;
  background-position: cover;
  width: 100vw;
}

.results {
  font-size: 45px;
  color: #808080;
}

.buttons-bgd {
  background-color: white;
}
