.background {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1519356162333-4d49ceade668");
  background-size: cover;
  background-position: cover;
}

.results {
  font-size: 45px;
  color: #808080;
}

.buttons-bgd {
  background-color: white;
}

.btn.btn-primary {
    margin-left: 0px;
}

.buttons-container {
  display: flex;
}

.form-container {
  text-align: left;
}

.buttons-box p {
  font-size: 10px;
  margin-bottom: 0px;
}

.buttons-box .button-icon {
  font-size: 25px;
}

#slogan {
  color: #808080;
  font-family: Damion;
  font-size: 24px;
}

