 .button-text {
    text-decoration: none;
    background-color: $light-gray;
    border: 2px #C0C0C0;
    color: gray;
    border-radius: 50%;
    box-shadow: 3px 2px 10px gray;
    font-weight: bolder;
    font-size: 30px;
    width: 45px;
    height: 45px;
    display: inline-block;
  }

   .button-text:hover{
      box-shadow: 3px 3px 15px #696969;
      color: #696969;
      border: 4px #D3D3D3;
    }
