.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  transition: 0.3s;
}
