.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 25px;
  padding-top: 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link {
  text-align: center;
  color: black;
  text-decoration: none;
}
a:hover {
  color:black;
}

.fa-user {
  text-align: right;
  left: 50%;
  margin-left: -50px;
  color: black;

}
