.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 25px;
  padding-top: 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.logo {
  position: center;
  padding-left: 560px;


}
.fa-user {
  position: right;
  left: 50%;
  margin-left: -50px;
  color: black;

}
