.background {
  background-image: url("https://images.unsplash.com/photo-1519356162333-4d49ceade668");
  background-color:rgba(0, 0, 0, 0.5);
  .rating-box {
      border: 1px solid $gray;
      border-radius: 10px;
      background-color: $light-gray;
  }
  .container h1 {
    font-weight: bolder;
  }

  .container a {
    text-decoration: none;
    background-color: $light-gray;
    border: 2px #C0C0C0;
    color: gray;
    border-radius: 50%;
    box-shadow: 3px 2px 10px gray;
    font-weight: bolder;
    font-size: 40px;
    width: 60px;
    height: 60px;
    display: inline-block;

    :hover{
      box-shadow: 0px 0px;
      color: white;
    }
  }

  .red {
    color: $danger;
  }

  .yellow {
    color: $warning;
  }

  .green {
    color: $success;
  }

}

