.rating-box {
    border: 1px solid #C0C0C0;
    border-radius: 15px;
    background-color: $light-gray;
    text-align: center;
}
.rating-box h1 {
  font-weight: bolder;
  font-size: 70px;
  display: flex;
  flex-direction: column;
}

.rating-box h4 {
  padding-top: 8px;
}

.rating-box .ruler {
  margin-bottom: 16px;
}

.material {

}

.red {
  color: #B22222;
}

.yellow {
  color: #FF8C00;
}

.green {
  color: #32CD32;
}
