.rating-box {
    border: 1px solid #C0C0C0;
    border-radius: 15px;
    background-color: $light-gray;
    text-align: center;

    .container {
      padding: 50px;
    }

    .red a {
      text-decoration: none;
      color: #B22222;
    }

    .yellow a {
      text-decoration: none;
      color: #FF8C00;
    }

    .green a {
      text-decoration: none;
      color: #32CD32;
    }

}
.rating-box h1 {
  font-weight: bolder;
  font-size: 70px;
  display: flex;
  flex-direction: column;
}

.rating-box h4 {
  padding-top: 8px;
}

.rating-box .ruler {
  margin-bottom: 16px;
}

.material a{
  color: black;
}

.red {
  color: #B22222;
}

.yellow {
  color: #FF8C00;
}

.green {
  color: #32CD32;
}

.percent h1 a:hover {
  transform: scale(1.02);
}

