<div class="container">
  <div class="row">
    <div class>
      <div class="material_hemp">
        <h2>Hemp</h2>
        <h3>Description</h3>
        <h3>Rating: A+</h3>

      </div>
      <div class="material_linen"></div>
      <div class="material_flax"></div>
      <div class="material_lyocell"></div>
      <div class="material_tencel"></div>
      <div class="material_jute"></div>
      <div class="material_pinatex"></div>
      <div class="material_nettle"></div>
      <div class="material_cotton_organic"></div>
      <div class="material_soy"></div>
      <div class="material_soy_silk"></div>
      <div class="material_rayon"></div>
      <div class="material_viscose"></div>
      <div class="material_bamboo"></div>
      <div class="material_cotton"></div>
      <div class="material_modal"></div>
      <div class="material_wool"></div>
      <div class="material_cashmere"></div>
      <div class="material_silk"></div>
      <div class="material_ramie"></div>
      <div class="material_down"></div>
      <div class="material_leather"></div>
      <div class="material_fur"></div>
      <div class="material_polyester"></div>
      <div class="material_acrylic"></div>
      <div class="material_spandex"></div>
      <div class="material_nylon"></div>
      <div class="material_polyurethane"></div>
      <div class="material_polyamide"></div>
      <div class="material_elastane"></div>

    </div>
  </div>
</div>
