<div class="container">
  <div class="row bg-light px-5 py-3">
    <div class>
      <div class="a_materials py-3">
        <div class="text-center py-3">
          <h1>The Good...</h1>
            <div class="py-3">
              <p><em>We classify these materials as those that are biodegradable and sustainable to produce and wash with minimal impact on the environment. Few of these are available widely. But with your help in making the right <strong>choice</strong>, we can encourage clothing companies to realize our desire for more sustainable clothing ;)</em></p>
            </div>
        </div>
        <div class="material_hemp">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1574287652252-d5fcb8ad6ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
            <div class="card-product-infos">
              <h2>Hemp</h2>
              <p>Growing hemp requires less water and pesticides than cotton. It also improves soil conditions and sequesters carbon dioxide from atmosphere. Nevertheless, processing hemp is less efficient and therefore costly, and it can be hard to dye.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, *bast fiber</em></p></div>
                <div><strong>Rating: A</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_linen material_flax">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1440342324699-75e542689857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            <div class="card-product-infos">
              <h2>Linen/Flax</h2>
              <p>Linen, made from flax fibres, dates back to as early as 4BC in ancient Egypt. Growing flax does not require pesticides or much water. Production of linen via a **closed loop production process without chemical retting, bleaching or dyeing is extremely eco-friendly. If you compost something made of undyed and unfinished linen, it will completely biodegrade.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, *bast fiber</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>

          </div>
        </div>
        <br>

        <div class="material_lyocell material_tencel">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1566764939731-dd2b86b2dd0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
            <div class="card-product-infos">
              <h2>Lyocell/Tencel®</h2>
              <p>Like rayon, lyocell fabric is a made from wood cellulose, but differs in that it requires less chemical processing. Tencel®  is a brand of lyocell by the Austrian company, Lenzing AG, that processes GM-free, sustainably farmed trees (ie: beechwood) via **closed loop production. Lyocell does not need bleaching and uses less dye than cotton. Lyocell has also recently begun to be processed from bamboo, which grows fast without fertilisers or irrigation.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_jute">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1565273976195-6f8529600264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
             <div class="card-product-infos">
              <h2>Jute</h2>
              <p>Jute is obtained from the bark of the white jute plant, which requires plenty of water (usually rain) to grow. Production of jute uses less chemicals, fertilizers, chemicals, dyes and bleaches, and its yield is 4 times more than flax per acre. Growing jute also improves soil conditions, and helps absorb and store large quantities of CO2. However, jute fibers are stiff and coarse, and its tensile strength is much lower than that of cotton and flax, complicating the production of soft and fine fabrics from jute. </p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, recyclable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>

        <div class="material_pinatex"></div>
        <div class="material_nettle"></div>
        <div class="material_cotton_organic"></div>
        <div class="material_soy"></div>
        <div class="material_soy_silk"></div>

      </div>

      <div class="b_materials py-3">
        <div class="text-center py-3">
          <h1>The Bad...</h1>
            <div class="py-3">
              <p><em>We classify these materials as those that <strong>could</strong> be  sustainable to produce and use... but for certain significant reasons, are often not. These fabrics hold a lot of potential, but we can not ignore the harm that current production methods inflict on our environment.</em></p>
            </div>
        </div>
        <div class="material_rayon material_viscose">
          <div class="card-product">
            <img src="https://cdn.faridagupta.com/media/wysiwyg/Blog/silk2.jpg"/>
            <div class="card-product-infos">
              <h2>Rayon(Viscose)</h2>
              <p>This highly controversial fabric is made from bamboo and trees, tough plants whose fibers are broken down with harsh chemical and mechanical processes involving sulfuric acid, sodium hydroxide and carbon disulfide. Factory workers suffer greatly (insanity, heart disease, nerve damage), and neighbouring waterways are often polluted, harming local children(mental degeneration), and causing great environmental damage.</p>
              <div class="rating">
                <div><p><em>&#8226; semi-synthetic</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_flax">
          <div class="card-product">
            <div class="">
              <h3>      More fabric descriptions coming soon...</h3>
            </div>
          </div>
        </div>
        <div class="material_bamboo"></div>
        <div class="material_cotton"></div>
        <div class="material_modal"></div>
        <div class="material_wool"></div>
        <div class="material_cashmere"></div>
        <div class="material_silk"></div>
        <div class="material_ramie"></div>
        <div class="material_down"></div>
      </div>
      <div class="c_materials py-3">
        <div class="text-center py-3">
          <h1>and The Ugly...</h1>
            <div class="py-3">
              <p><em>We classify these materials as those that <strong>harm our environment and health</strong> during production, use, and after being discarded. These fabrics may be cheap to produce and buy, but the price we pay from polluted seas, suffering animals, and toxic food is much to high for us to pay!</em></p>
            </div>
        </div>
         <div class="material_leather">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1473188588951-666fce8e7c68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"/>
            <div class="card-product-infos">
              <h2>Leather</h2>
              <p>We'll be the first to admit, leather looks awesome. But non-eco friendly leather results in: methane emissions (livestock); deforestation; toxic chemicals from tanning (carcinogenic chromium, lead, arsenic and acids); polluted waterways. Tannery workers suffer from cancer, kidney and liver damage, and reproductive problems. Sustainable leather is a possibility, but leather alternatives derived from pineapples, grapes, mushrooms or seaweed are better!</p>
              <div class="rating">
                <div><p><em>&#8226; animal-based</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_flax">
          <div class="card-product">
             <div class="">
              <h3>      More fabric descriptions coming soon...</h3>
            </div>
          </div>
        </div>
        <div class="material_fur"></div>
        <div class="material_polyester"></div>
        <div class="material_acrylic"></div>
        <div class="material_spandex"></div>
        <div class="material_nylon"></div>
        <div class="material_polyurethane"></div>
        <div class="material_polyamide"></div>
        <div class="material_elastane"></div>
      </div>
      <div><p>*bast fiber: made from the stem of a plant.</p>
            <p>**closed loop process: a manufacturing process that avoids the use of waste, with chemicals being captured and reused instead of discharged into the surrounding area.</p></div>
        <div class="row mx-auto justify-content-center">
          <div class="m-2">
            <p><%= link_to purchases_path do %>
                    <i class="fas fa-tshirt"></i>
                  <% end %></p>
          </div>
          <div class="m-2">
          <p><%= link_to new_garment_path do %>
                  <i class="fas fa-camera"></i>
                <% end %></p>
          </div>
        </div>
    </div>
  </div>
</div>
