<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/9pvTSsNV2T4);">
  <div class="container">
    <h1>For smart shoppers who <strong>care</strong></h1>
    <p>clothes tags scanner.</p>
  </div>
</div>
