<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/9pvTSsNV2T4);">
  <div class="container">
    <h1>For smart shoppers who care</h1>
    <p><strong>clothes tags scanner</strong></p>
    <a href="garments/new" class="btn">Get started</a>
  </div>
</div>
<div class="inner">
  <main>
    <p></p>
    <p><strong>DO GOOD . LOOK GOOD . FEEL GOOD .</strong></p>
    <p>We love clothes. But there are some skeletons in the closet that can’t be hidden.</p>
    <p>The global fashion industry has a huge problem with pollution, waste and human rights abuses. Like you, we care for our planet, people and animals, and we want to live in a world that’s sustainable and fair. We are a group of campaigners, fashion professionals, scientists, writers and developers who have come together to drive that change.</p>
    <p>Together we can have real impact with the one powerful weapon we all have in common… the ability to choose. Choosing and rewarding responsible fashion brands that do good, over the ones that don’t, can drive the whole industry to become more sustainable and fair.</p>
    <P><em><strong>"We have so much power to change the world by just being careful in what we buy"</strong></em> - Emma Watson</P>
    <p>At<strong> S A V V Y .</strong> we want to make it as easy as possible to buy products that meet your needs, from brands that live up to your expectations in relation to their environmental and social performance</p>
    <p><strong>WEAR THE CHANGE YOU WANT TO SEE</strong></p>
  </main>
</div>
